Django==4.2.16
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0
python-decouple==3.8
Pillow==10.1.0
python-dotenv==1.0.0
django-simple-captcha==0.6.0
django-admin-interface==0.26.0
django-cloudinary-storage==0.3.0
django-ckeditor==6.7.3
