{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% load static %}
{% block content %}


    <!-- ============== start-breadcumb-area =============== -->
    <section class="breadcumb-wrapper-area section-padding banner_green_layer" style="background: url({% static 'assets/images/our_expertise/expertise_details/architect-of-record.jpg'%});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-content">
                        <h1 class="breadcumb-title">Architect of Record</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== end-breadcumb-area =============== -->

<section class="home-one about-us-area section-padding pt-5 pb-0">
    <div class="container">
        <div class="row about-card-box">
            <div class="col-xl-12 col-lg-12 col-auto">
                <div class="text-justify">
                    <h6 class="sub-title"><span class=""></span>As the Architect of Record, Das And Partners (Das and Partners) Engineering Consultancy in Abu Dhabi assumes a pivotal role in overseeing the architectural aspects of a project from conception to completion.   
                    </h6>
                    <p class="text">The Architect of Record (AOR) is the licensed architect or architectural firm officially designated as responsible for the architectural design and documentation of a building project. The AOR holds the primary responsibility for the design and oversees its execution during the construction phase.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area pt-0 pb-5 section-padding expertise_details">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="post-details-earpper">
                    <article>
                        <div class="single-post-item bg-none">
                            <div class="post-thumb img-hover-wrapper">
                                <img src={% static "assets/images/our_expertise/expertise_details/architect-of-record-abudhabi.jpg"%} alt="">
                            </div>
                            <div class="post-content-wrap p-0">
                                <div class="entry-post-content">
                                    
                                    <h3 class="post-title">Architect of Record in Abu Dhabi</h3>
                                    <p class="post-excerpt">
                                        As the Architect of Record (AOR) at Das And Partners (Das and Partners) Engineering Consultancy in Abu Dhabi, we take pride in our commitment to excellence and innovation in architectural design and engineering services. Our AOR services encompass a wide range of responsibilities aimed at ensuring the successful realization of architectural projects from conception to completion. Here's an overview of what our AOR services entail:


                                    </p>
                                    <h6 class="sub-title pt-3"><span class=""></span>Project Management:</h6>
                                    <p class="post-excerpt">
                                        As the AOR, we serve as the primary point of contact for the client and oversee all aspects of the architectural project. We manage project timelines, budgets, and resources to ensure that the project stays on track and meets client expectations.
                                    </p>

                                    <h6 class="sub-title pt-3"><span class=""></span>Design Coordination:</h6>
                                    <p class="post-excerpt">
                                        We collaborate closely with other consultants, including structural engineers, MEP engineers, and interior designers, to coordinate the various aspects of the design process. Our goal is to ensure that all design elements are integrated seamlessly and that the final design meets the client's objectives.
                                    </p>

                                    <h6 class="sub-title pt-3"><span class=""></span>Regulatory Compliance:</h6>
                                    <p class="post-excerpt">
                                        We ensure that the architectural design complies with local building codes, regulations, and standards. We work closely with regulatory authorities to obtain necessary permits and approvals for the project and address any compliance issues that may arise.
                                    </p>

                                    
                                    <h6 class="sub-title pt-3"><span class=""></span>Quality Assurance:</h6>
                                    <p class="post-excerpt">
                                        We implement rigorous quality assurance processes to ensure that the architectural design meets the highest standards of quality and craftsmanship. We conduct regular inspections and reviews throughout the design and construction phases to identify and address any quality issues promptly.
                                    </p>
                                    
                                    <h6 class="sub-title pt-3"><span class=""></span>Construction Administration:</h6>
                                    <p class="post-excerpt">
                                        During the construction phase, we provide ongoing support and supervision to ensure that the project is built according to the approved design and specifications. We review contractor submittals, conduct site inspections, and address any construction-related issues that may arise.
                                    </p>
                                    
                                    
                                    <h6 class="sub-title pt-3"><span class=""></span>Client Communication:</h6>
                                    <p class="post-excerpt">
                                        We maintain open and transparent communication with the client throughout the project lifecycle. We provide regular updates on project progress, address any concerns or questions that the client may have, and ensure that their feedback is incorporated into the design process.
                                    </p>

                                    <h6 class="sub-title pt-3"><span class=""></span>Post-Construction Services:</h6>
                                    <p class="post-excerpt">
                                        After the completion of the project, we provide post-construction services such as occupancy evaluations and warranty inspections to ensure that the building performs as intended. We address any post-construction issues promptly and work with the client to resolve any warranty-related issues.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-company-area pt-0 pb-5 section-padding expertise_details">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-12">
                <div class="">
                    <div class="img-hover-wrapper">
                        <img src={% static "assets/images/our_expertise/expertise_details/architect-of-record-service.jpg"%} alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="lets-discuss team-title home-three-title">
                    <h2 class="title">Architect of Record<span> Services</span>.</h2>
                    <p class="text">At Das And Partners (Das and Partners) Engineering Consultancy, our AOR services are characterized by professionalism, expertise, and a commitment to delivering exceptional architectural solutions that exceed client expectations. We leverage our extensive experience and technical knowledge to ensure the successful delivery of architectural projects of all scales and complexities.</p>

                </div>
            </div>

            <div class="col-xl-12 pt-3 col-lg-12">
                <div class="team-title home-three-title">
                    <p class="text">Das And Partners (Das and Partners) Engineering Consultancy, Architect of Record (AOR) Service offers comprehensive coordination and support with regulatory bodies across Dubai, Abu Dhabi, and the Riyadh area, facilitating a smooth approvals process and ensuring compliance with local regulations. Here's how we assist our clients through each step:</p>
                </div>

                <div class="post-content-wrap p-0">
                    <div class="entry-post-content">
                        <h6 class="sub-title pt-3"><span class=""></span>Co-ordination with Regulatory Bodies:</h6>
                        <p class="post-excerpt">
                            Das and Partners maintains strong relationships with key personnel in regulatory bodies, including local municipalities, roads departments, civil defense, and utility authorities. We facilitate communication and coordination to expedite the approvals process and address any regulatory requirements efficiently.
                        </p>

                        <h6 class="sub-title pt-3"><span class=""></span>Approvals Process Tracking:</h6>
                        <p class="post-excerpt">
                            We tracks the approvals process from project start to building permit issuance, providing clients with regular updates and progress reports. We leverage flow charts to visualize the approval workflow and assist clients in understanding each step of the process.
                        </p>

                        <h6 class="sub-title pt-3"><span class=""></span>Early Application for Approvals:</h6>
                        <p class="post-excerpt">
                            Das and Partners initiates the application for approvals early in the project timeline whenever possible, minimizing delays and ensuring timely project delivery. By proactively engaging with regulatory authorities, we streamline the approvals process and mitigate potential bottlenecks.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="home-one about-us-area section-padding expertise_details">
    <div class="container">
        <div class="row about-card-box">
      
            <div class="col-xl-6 col-lg-12">
                <h6 class="sub-title pt-3"><span class=""></span>Defending Design While Ensuring Compliance:</h6>
                <p class="post-excerpt">
                    Das and Partners advocates for our clients' design preferences while ensuring compliance with local regulations and building codes. We work closely with regulatory bodies to address any concerns or objections, striving to achieve a balanced approach that meets both design objectives and regulatory requirements.
                </p>
                <h6 class="sub-title pt-3"><span class=""></span>Daily and Weekly Follow-ups:</h6>
                <p class="post-excerpt">
                    Das and Partners's dedicated in-house team conducts daily and weekly follow-ups with regulatory authorities to track the progress of approvals and address any issues promptly. We keep clients informed throughout the process, providing transparency and peace of mind.
                </p>
            </div>

            <div class="col-xl-6 col-lg-12 col-auto">
                <div class="img-hover-wrapper">
                    <img src={% static "assets/images/our_expertise/expertise_details/architectural.jpg"%} alt="Architectural Engineering">

                </div>
            </div>

            <div class="col-xl-12 pt-3 col-lg-12">
                <div class="post-content-wrap p-0">
                    <div class="entry-post-content">
                        <h6 class="sub-title pt-3"><span class=""></span>Whole-Team Working:</h6>
                        <p class="post-excerpt">
                            Das and Partners Engineering Consultacy fosters collaboration among all project stakeholders to ensure correct permit execution. We coordinate efforts between architects, engineers, consultants, and regulatory authorities to facilitate smooth communication and alignment of project objectives.
                        </p>
                        <p class="post-excerpt">
                            Overall, Our AOR Service is committed to providing comprehensive support and guidance throughout the approvals process, enabling clients to navigate regulatory requirements with confidence and achieve successful project outcomes.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}