{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% load static %}
{% block content %}

<!-- ======================================================================================================================================================== -->


    <!-- ============== start-breadcumb-area =============== -->
    <section class="breadcumb-wrapper-area section-padding banner_green_layer" style="background: url({% static 'assets/images/contact/hr-banner.jpeg'%});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-content">
                        <h1 class="breadcumb-title">Careers</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li class="breadcumb-icon"><i class="fas fa-angle-right"></i></li>
                            <li>Careers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================== Start About US Section Area ========================== -->

    <section class="about-company-area section-padding pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-12">
                    <div class="about-thumb">
                        <div class="img-hover-wrapper">
                            <!-- <img src={% static "assets/images/contact/hr-image.jpeg"%} alt=""> -->
                            <img src={% static "assets/images/about/dr-group.jpg"%} alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="lets-discuss team-title home-three-title">
                        <h2 class="title">Please contact <span>us at</span>.</h2>
                        <h6 class=""><a href="mailto:hr.energy@dasandpartners.com">hr.energy@dasandpartners.com</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    

{% endblock %}