{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% load static %}
{% block content %}


    <!-- ============== start-breadcumb-area =============== -->
    <section class="breadcumb-wrapper-area section-padding banner_green_layer" style="background: url({% static 'assets/images/contact/contact.jpg'%});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-content">
                        <h1 class="breadcumb-title">Contact</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="index.html">Home</a></li>
                            <li class="breadcumb-icon"><i class="fas fa-angle-right"></i></li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-company-area section-padding pt-0 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-12">
                    <div class="">
                        <div class="img-hover-wrapper">
                            <!-- <img src={% static "assets/images/contact/hr-image.jpeg" alt=""> -->
                            <!-- <img src={% static "assets/images/about/dr-group.jpg"%} alt=""> -->
                            <img src={% static "assets/images/about/dr_group_big.jpg"%} alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="lets-discuss team-title home-three-title">
                        <h2 class="title">Head Quarter Building <br><span>Coming Soon</span>.</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% comment %} 
    <section class="home-one about-us-area pb-5 pt-5 section-padding">
        <div class="container">
            <div class="row about-card-box">
                <div class="col-xl-7 col-lg-12 col-auto">
                    <div class="contact-item">
                        <div class="box1"></div>
                            <div class="contact-item-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">Salam & - Office 1701, 17th Floor, Abdulla Darwish Building - C-1 Hamdan Bin Mohammed St - Junction - E15 - Abu Dhabi</p>
                            <h6>Abu Dhabi Corporate Office</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-12 col-auto">
                    <div class="">
                        <div class="img-hover-wrapper">
                            <img src={% static "assets/images/contact/abudhabi-office.jpg"%} alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    
     <section class="home-one about-us-area pb-5 pt-5 section-padding contact_two_images">
        <div class="container">
            <div class="row about-card-box">
                <div class="col-xl-7 col-lg-12 col-auto">
                    <div class="contact-item">
                        <div class="box1"></div>
                         <div class="contact-item-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">Office 1701, 17th Floor, Abdulla Darwish Building - C-1 Hamdan Bin Mohammed St - Junction - E15 - Abu Dhabi.</p>
                            <h6>Abu Dhabi Corporate Office</h6>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="box1"></div>
                        <div class="contact-item-icon">
                            <i class="fas fa-phone small_phone_icon"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">CALL US</p>
                            <h6><a href="#">+97128779490</a></h6>
                        </div>
                    </div> 

                </div>
                <div class="col-xl-5 col-lg-12 col-auto">
                    <div class="">
                        <img src="{% static "assets/images/contact/abudhabi-office.jpg"%}" alt="">
                    </div>
                </div>
                <div class="experience-img home-one-experiece-img">
                    <img src="{% static "assets/images/contact/abudhabi-2.jpg"%}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="contact-area-page pb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 pt-3">
                    <div class="contact-item">
                        <div class="box1"></div>
                         <div class="contact-item-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">Office 606, 6th Floor, Abdulla Darwish Building - C-1 Hamdan Bin Mohammed St - Junction - E15 - Abu Dhabi</p>
                            <h6>Abu Dhabi Branch Office</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <section class="home-one about-us-area pb-5 pt-5 section-padding contact_two_images">
        <div class="container">
            <div class="row about-card-box">
                <div class="col-xl-7 col-lg-12 col-auto">
                    <div class="contact-item">
                        <div class="box1"></div>
                         <div class="contact-item-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">Office 3409, 34th Floor, The Citadel Tower, Bussiness Bay, Dubai.</p>
                            <h6>Dubai Corporate Office</h6>
                        </div>
                        
                    </div>

                    <div class="contact-item">
                        <div class="box1"></div>
                        <div class="contact-item-icon">
                            <i class="fas fa-phone small_phone_icon"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">CALL US</p>
                            <h6><a href="#">042851590</a></h6>
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-12 col-auto">
                    <div class="">
                        <img src="{% static "assets/images/dubai-office/office-1.jpg"%}" alt="">
                    </div>
                </div>
                <div class="experience-img home-one-experiece-img">
                    <img src="{% static "assets/images/dubai-office/office-2.jpg"%}" alt="">
                </div>
            </div>
        </div>
    </section>


    
    <!-- ================================== Start Contact Page Area Section ================================================ -->
    <section class="contact-area-page section-padding pt-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="contact-item">
                        <div class="box1"></div>
                        <div class="contact-item-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-item-content">
                            <p class="contact-us">Email</p>
                            <h6><a href="mailto:info@dasandpartners.com">info@dasandpartners.com</a></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row contact-margin-top">
                <div class="col-lg-6 col-md-12">
                    <div class="appoinment-form-wrap team-title">

                        {% if messages %}
                            {% for message in messages %}
                                <div style="color: green;">{{ message }}</div>
                            {% endfor %}
                        {% endif %}



                        <h6 class="sub-title"><span class=""></span>Get In Touch</h6>
                        <h2 class="title">Let’s discuss.</h2>
                        <form id="contactForm" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group">
                                        <div class="mb-3">
                                                {{ form.name.errors }}
                                                {{ form.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            {{ form.email.errors }}
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="mb-3">
                                            {{ form.type.errors }}
                                            {{ form.type }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="mb-3">
                                             {{ form.subject.errors }}
                                            {{ form.subject }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-5">
                                        {{ form.message.errors }}
                                        {{ form.message }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-5">
                                        {{ form.captcha }}
                                        <div class="text-danger">{{ form.captcha.errors }}</div>
                                    </div>
                                </div>
                                
                                <div class="about-btn">
                                    <button type="submit" class="button-one">Sent Message <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="contact-maps">

                        {% comment %} <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3630.68132304183!2d54.3737782!3d24.496496200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e671bd75ab529%3A0xa86834afdf976643!2sDas%20And%20Partners%20-%20DAP%20Engineering%20Consultancy!5e0!3m2!1sen!2sae!4v1747582750557!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
                        
                        <iframe src="https://www.google.com/maps/d/embed?mid=1f985MrC0sJa8MOeNtQY9n-KWiefIN-E&ehbc=2E312F" width="640" height="480"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>






{% endblock %}